h1 {color: burlywood;
}
h1 {font-size: 300%;
}
h1 {border:solid 3px brown;
}
b {color:red
}
b {font-size: 240%;
}
b {text-align: center;
}
h1 {text-align: center;
}
p {text-align: center;
}
p {font-size: 200%;
}
#a {margin-left: 20%;
}
#b {margin-left: 20%;
}
#c {margin-left: 20%;
}
#d {margin-left: 20%;
}
#e {margin-left: 20%;
}
#f {margin-left: 20%;
}
#g {width: 20%;
}
#h {width: 20%;
}
body {background-color: rgb(0, 0, 0);}

p {color: white;}
